<!DOCTYPE html>  
<html>
    <style>
      body { background-color: white;
      }
      p { color: red;
        font-family: verdana;
        font-size: 20px;
      }
    </style>
       <form id="frm1" action="display.html" metho="GET">
         <h3>H.A.C.K</h3>
        User's Weight: <input id="weight" type="number" name="weight">
        <br><br>
        Hours Since Last First Drink: <input id="hssd" type="number" name="hssd">
        <br><br>
        Gender: <input id="gender" type="text" name="gender">
        <br><br>
        <h3> Enter the drinks you've had. If you've had more than one drink, click the 'Add Drink' button. </h3>
        Enter Beer: <input type="drink" name="beer" value=""> \\TODO: THIS IS YOUR HTML VALUE YOU WANT MAN
 			<button id="submitData" type="button">Calculate BAC</button>
 			<br>
 			<br>
         <textarea id="result" rows="4" cols="50"></textarea>
      	</form>

  		<script>

  		var result = 0;
  		var volume_alcohol = 0;

        function Calculate_BAC() {
       		var Weight = document.getElementsByName("weight")[0].value;
       		var A = 1; // TODO: ADD YOUR RESULT HERE MAN
       		var Gender = document.getElementsByName("gender")[0].value;
            var H = document.getElementsByName("hssd")[0].value;
       		var r;
          
       		if (Gender == 'm') {
         		r = .73;
      		 } else {
         		r = .66;
             }
          
       		var BAC_calculation = ((A * 5.14) / (Weight * r)) - .015 * H;
       		return BAC_calculation; 
     	}
          
     //update text area
     document.getElementById("submitData").onclick = function(){
        volume_alcohol += 12;
     	result += (Calculate_BAC() / volume_alcohol); //this is where you append the results to the second
        document.getElementById("result").value = result;

     }
        </script>
 
    <body>

      
 
      </body>
</html>
