<!DOCTYPE html>
<html>
<body class = "container bg1 text-center">
<u><h1> Enter the drinks you've had. If you've had more than one, click the "Add a drink" button <h1><u>
<form name="myform" method = "post" action = 'AlcoholWarning'>
    <ul id="addrlist">
        <li><input type="drink" name="liquor" id = "answer" /></li>
    </ul>
    <button id="drinkAdd">Add a drink</button>
</form>
<div>
	<b>{{ result }}</b>
</div>
<script>
document.getElementById("drinkAdd").onclick = function() {
    var li = document.createElement("li");
    var input = document.createElement("input");
    li.appendChild(input);
    document.getElementById("addrlist").appendChild(li);
    return false;
document.getElementById("").onclick = function(){
	
}
};
</script>

</body>
</html>